/* -------------------------------------------------
Layout Styles
------------------------------------------------- */

/* Set variables */
$primaryColor: #939393;
$secondaryColor: #dbdbdb;

/* setup border-radius mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
		  border-radius: $radius;
}

/* layout styles */
body {
	font-size: 1.1em;
}
header, footer {
	display: block;
	min-height: 100px;
	padding: 20px;
	text-align: center;
	background-color: $primaryColor;
}

/* Level 1 flex layout - article and sidebar */
#main {
	display: flex;
	flex-flow: row;
	min-height: 600px;
	margin: 10px;
	padding: 10px;
}
#main > article {
	flex: 2 1 66.666%;
	order: 1;
	margin: 10px;
}
#main > aside {
	flex: 1 2 33.333%;
	order: 2;
	margin: 10px;
	padding: 30px;
	background-color: $secondaryColor;
	@include border-radius(10px);
}

/* Level 2 flex layout - rows within article */
.Row {
	flex: 1 1 100%;
	flex-flow: column;
	min-height: 100px;
}

/* Level 3 flex layout - individual items nested within rows */
.Grid {
	display: flex;
	flex-flow: row;
	img {
		width: 100%;
		padding: 10px;
		border: 2px solid $secondaryColor;
		@include border-radius(5px);
	}
}
.Grid--1ofX {
	flex: 1;
	margin: 2px;
	padding: 5px;
}


/* breakpoint to make responsive */
@media all and (max-width: 600px) {
	#main, .Grid {	flex-direction: column; }
}