/* -------------------------------------------------
Modules Styles
------------------------------------------------- */
.image_container {
	text-align: center;
}
.image_show {
	width: 400px;
	height: 400px;
}



/* -------------------------------------------------
Misc Navigation styling
------------------------------------------------- */
.breadcrumb {
	font-size: 12px;
	padding: 15px 0;
}
.breadcrumb a {
	color: #49708f;
	font-weight: bold;
	text-decoration: none;
}
a.title {
	text-decoration: none;
	color: black;
}